 
  input{ 
  width: 100%;
  outline: none;
  margin-top: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px; 
  transition: all 0.3s ease; 
  /* Left content */ 
}


/* Additional styling for focus state */
input:focus {
  outline: none;
  border-color: var(--accent-blue);  
  box-shadow: 0 0 5px var(--accent-blue-light);  
}


input :hover{ 
  border: 1px solid var(--accent-blue-light) !important; 
}
 
/* button */
button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  /* margin: 5px; */
   border: 1px solid var(--accent-blue);    
  border: none;
  border-radius: 5px;
  font-size: small !important;
  background-color: var(--accent-blue) ;
  color: #fff;
  outline: none; 
  cursor: pointer;
  font-weight: bold !important;
  white-space: nowrap; 
}
  
Select :hover{ 
  border: 1px solid var(--accent-blue-light) !important; 
}
 textarea{
  width: 100%;
  outline: none;
  margin-top: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px; 
  transition: all 0.3s ease; 
}
textarea:focus {
  outline: none;
  border-color: var(--accent-blue);  
  box-shadow: 0 0 5px var(--accent-blue-light);  
}

textarea :hover{ 
  border: 1px solid var(--accent-blue-light) !important; 
}
 

 #button-modal-cancel{   
padding: 8px 16px; 
width: 78px;
height: 36px; 
background: var(--white); 
border: 1px solid #D0D5DD;
border-radius: 8px;   
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 145%;  
color: #344054; 

 }

 #button-modal-continue{   
padding: 8px 16px; 
background: #175CFF;
border-radius: 8px;    
width: 92px;
height: 36px; 
background: #175CFF;
border-radius: 8px; 

 }

 .popup__modal_title{ 
  margin-top: 24px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 145%; 
color: #475367;  
 }
 .popup__modal_title_h5{  
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 120%; 
display: flex;
align-items: center;
letter-spacing: -0.02em; 
color: #101928; 
 }

 .SVGLoader_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; 
  gap: 1rem;
  margin: 70px 0px;
 }