#header {
  grid-area: header;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EDEDED;
  padding: 20px 36px; 
}

.header-icon-container-flex{
  display: flex; 
  align-items: center; 
  gap: 1rem;
}

.bell-notification-container{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.bell-notification{   
font-style: normal;
font-weight: 400; 
line-height: 145%; 
color: #647995; 
flex: none;
order: 1;
flex-grow: 0;
font-size: 12px;
}

#header form {
  position: relative;
}

#header form svg {
  color: rgb(204, 204, 204);
  position: absolute;
  top: 2px;
}

#header form input {
  outline: none;
  border: none;
  padding-left: 2rem;
}

#header form input::-webkit-input-placeholder {
  color: rgb(204, 204, 204);
}
#header form input::-moz-placeholder {
  color: rgb(204, 204, 204);
}
#header form input:-ms-input-placeholder {
  color: rgb(204, 204, 204);
}
#header form input:-moz-placeholder {
  color: rgb(204, 204, 204);
}

#header .user_avatar {
  background: rgba(16, 156, 241, 0.1);
  border: 4px solid rgba(16, 156, 241, 0.4);
  color: var(--accent-blue);
  border-radius: 100%;
  user-select: none;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  text-transform: uppercase;
}


.header_Search{
  width: 400px; 
  border: 0px !important;
  background: none !important;  
background: var(--white);
border-radius: 16px 0px 0px 16px; 
}
.header_Search_one{
  width: 20rem; 
  border: 0px !important;
  background: none !important; 
  height: 30px !important; 
  outline: none !important;
  box-shadow: none !important;
}

 

.FaPlus-icon{
  width: 40px;
  height: 40px;
  background-color:#EDEDED;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.FaPlus-bell{
  width: 40px;
  height: 40px; 
  padding: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FaPlus-name-container{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.FaPlus-name{
  width: 40px;
  height: 40px;
  background-color:#EBDDCA; 
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #767675;
  font-weight: bold;
}

.FaPlus-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

 
 

 

.header_Search_container {
   position: relative;
   border: 1px solid  #F0F2F5;
   background-color: #F0F2F5;
   padding: 0px 10px;
   display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
    margin-left: 1rem;
}

.header_Search_container_one {
   position: relative;
   border: 2px solid  #F0F2F5 !important;
   background-color: #fff;
   padding: 0px 10px;
   display: flex;
   justify-content: center;
   align-items: center; 
   border-radius: 10px; 
   height: 36px;
}

 .md-filter-seach{  
display: flex; 
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 5px;  
height: 36px; 
background: #FFFFFF; 
border: 1px solid #CBD5E1;
border-radius: 8px;  
color: #334155 !important;
}
.md-filter-seach:hover {  
  padding: 8px 12px !important;
background: #334155 !important;   
color: #fff !important;
}

  
.header_Search { 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.suggestions_container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
}

.suggestion {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f5f5f5;
}

.suggestion_icon {
  margin-right: 8px;
}

.focused .header_Search { 
  box-shadow:none !important;
}

.focused{
    border: 1px solid var(--accent-blue);
    z-index: 999;
}
@media (max-width: 768px) {
  .equipments_request_container_h4 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100% !important;
}
  .header_Search{
  width: 100% !important; 
  border: 0px !important;
  background: none !important;  
background: var(--white);
border-radius: 16px 0px 0px 16px; 
}
  #header {
  grid-area: header;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #EDEDED;
  padding: 0;
}
#header {
    padding-block-start: 20px;
    padding-block-end: 20px;
}
 
}

 
 
