#side-nav {
  width: 272px;
  --lft-padding: 2rem !important;
  position: relative !important;
  grid-area: sidenav !important;
  background: #F7F9FC !important;
  border-right: 1px solid #EDEDED;
  display: block; 
  height: 100%;
}

.Quotes_ml_3{
  margin-left: 25px;
}
#side-nav-flex-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
   height: 100%;
}

.dashboard-back-container-sub{
  display: flex;
  align-items: center;
  gap: 8px;
}

.dashboard-back-container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.actives_dan_Calendar_flex{
  display: flex;
  justify-content:space-between;
  align-items: center; 
  width: 100%;
}

.Benson_container h6{  
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 145%; 
color: #101928;  
}
.Benson_container p{  
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 145%; 
color: #475367;  
}
.Benson_container_image{   
width: 40px;
height: 40px; 
border-radius: 50px;
background-color: #F7F9FC;
}

.dashboard-back-Support{
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.Support_float{
  display: flex;
  gap: 12px;
  align-items: center; 
}
 
.logo_container {
  padding: 50px 0px 5px 24px;
}
 

#side-nav .user-details {
  display: flex;
  gap: 1rem;
  padding: 1.5rem var(--lft-padding);
  padding-right: 3rem;
}

#side-nav .user_avatar {
  background: rgba(16, 156, 241, 0.1);
  border: 5px solid rgba(16, 156, 241, 0.4);
  color: var(--accent-blue);
  border-radius: 100%;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

#side-nav .user-name_role {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#side-nav .user-name_role p:nth-child(1) {
  font-weight: 600 !important;
  max-width: 12ch !important;
  color: var(--dark-blue) !important;
}

#side-nav .user-name_role p:nth-child(2) {
  color: rgba(51, 77, 110, .3) !important;
}

.user-name_role-sub{
  white-space: nowrap;
}

#side-nav nav {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px !important;
  padding:  10px ;
  gap: .8rem !important;  
  margin-top: 1.5rem !important;
}

#side-nav nav .nav-link {
  display: flex !important;
  gap: 1rem !important;
  align-items: center !important;
  padding:  10px 10px;
  gap: 5px; 
  border-radius: 5px;
}
#side-nav nav .nav-link:hover {
  display: flex !important;
  gap: 1rem !important;
  align-items: center !important;
  background-color: #ededed87;
  padding:  10px 10px ;
  gap: 10px;
}

#side-nav nav .nav-link.active {
  background-color: #F0F6FE;  
}



#side-nav nav a svg {
  color: #94A3B8 !important;
}

#side-nav nav span {
  font-weight: 600; 
  transition: 100ms ease-in !important;  
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 145%;  
color: var(--text); 

}

#side-nav nav a:hover span {
  color: var(--accent-blue) ;
}

 

#side-nav nav a.active svg,
#side-nav nav a.active span {
  color: var(--accent-blue)  ;
}

#side-nav .nav-sub_area {
  border-top: 1px solid rgba(0, 0, 0, .05) !important;
  padding: 1.5rem var(--lft-padding) !important;
  margin-top: 4rem !important;
}

#side-nav .nav-sub_area button {
  background-color: var(--white) !important;
  border: none;
  outline: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

#side-nav .nav-sub_area button svg {
  color: rgb(224, 224, 224) !important;
}

#side-nav .nav-sub_area button span {
  font-weight: 600 !important;
  color: var(--dark-blue) !important;
}

#side-nav button.toggle-btn {
  position: absolute !important;
  bottom: 2rem !important;
}

#side-nav button.toggle-btn span {
  font-weight: 600 !important;
  color: rgb(224, 224, 224) !important;
}


.logo-area-img{
  width: 50px !important;
  padding: 0px .5rem !important;
  margin-left: 0.2rem; 
  transform: rotate(25deg); 
  color: var(--accent-blue);
}
.logo-area-img-login{ 
  transform: rotate(25deg); 
  color: var(--accent-blue);
}

@media only screen and(min-width: 1200px){
  #side-nav {
    display: none !important;
  } 
}

@media (max-width: 1200px) {
  #side-nav {
    display: none;
  }
}




 

